<div id="navbar" class="ui top fixed menu">
  <a href="{{ config.site_url }}" id="logo" class="item">
    {%- if config.theme.logo.image %}
    <img
      src="{{ config.theme.logo.image | url }}"
      alt="404 -"
      class="ui middle aligned image"
      height="40px"
    />
    {%- elif config.theme.logo.icon %}
    <i class="{{ config.theme.logo.icon }} icon"></i>
    {%- else %}
    <i class="python icon"></i>
    {%- endif %}
  </a>
  <div class="item">
    {{ config.site_name }}
  </div>

  {%- if config.theme.breadcrumbs %}
  <div id="breadcrumbs-cont" class="item">
    <div class="ui breadcrumb">
      {%- if page.ancestors %}
      <a class="section" href="{{ nav.homepage.url | url }}">{{
        nav.homepage.title
      }}</a>
      {%- else %}
      <div class="section active">{{ nav.homepage.title }}</div>
      {%- endif %} {%- if page %} {%- for section in page.ancestors|reverse %}
      {%- if section.link %} /
      <a class="section" href="{{ section.link | e }}">{{ section.title }}</a>
      {%- else %} /
      <div class="section">{{ section.title }}</div>
      {%- endif %} {%- endfor %} {%- endif %} {%- if page.ancestors %} /
      <div class="section active">{{ page.title }}</div>
      {%- endif %}
    </div>
  </div>
  {%- endif %}
  <div class="right menu">
    {% if config.theme.search %}
    <div class="item">
      <div id="search-btn" class="medium icons">
        <i class="bordered search icon"></i>
      </div>
    </div>
    {% endif %}
  </div>
</div>


<!-- Copy-pasted from https://semantic-ui.com/examples/homepage.html -->
<style type="text/css">

    .hidden.menu {
      display: none;
    }

    .masthead.segment {
      min-height: 700px;
      padding: 1em 0em;
    }
    .masthead .logo.item img {
      margin-right: 1em;
    }
    .masthead .ui.menu .ui.button {
      margin-left: 0.5em;
    }
    .masthead h1.ui.header {
      margin-top: 3em;
      margin-bottom: 0em;
      font-size: 4em;
      font-weight: normal;
    }
    .masthead h2 {
      font-size: 1.7em;
      font-weight: normal;
    }

    .ui.vertical.stripe {
      padding: 8em 0em;
    }
    .ui.vertical.stripe h3 {
      font-size: 2em;
    }
    .ui.vertical.stripe .button + h3,
    .ui.vertical.stripe p + h3 {
      margin-top: 3em;
    }
    .ui.vertical.stripe .floated.image {
      clear: both;
    }
    .ui.vertical.stripe p {
      font-size: 1.33em;
    }
    .ui.vertical.stripe .horizontal.divider {
      margin: 3em 0em;
    }

    .quote.stripe.segment {
      padding: 0em;
    }
    .quote.stripe.segment .grid .column {
      padding-top: 5em;
      padding-bottom: 5em;
    }

    .footer.segment {
      padding: 5em 0em;
    }

    .secondary.pointing.menu .toc.item {
      display: none;
    }

    @media only screen and (max-width: 700px) {
      .ui.fixed.menu {
        display: none !important;
      }
      .secondary.pointing.menu .item,
      .secondary.pointing.menu .menu {
        display: none;
      }
      .secondary.pointing.menu .toc.item {
        display: block;
      }
      .masthead.segment {
        min-height: 350px;
      }
      .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
      }
      .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
      }
    }


  </style>

<div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
        <h1 class="ui header">
            <a href="{{ header.vocabulary_url }}">{{ header.prefix }}:</a>{% filter trim %}
            {% endfilter %}{{ header.label }}

            <div class="sub header">
                {{ header.summary }}
            </div>
        </h1>

        <div class="ui huge left floated header" style="font-size: 4em">
            {{ header.symbol }}
        </div>

        <h1 class="ui inverted header">
            Imagine-a-Company
        </h1>
        <h2>Do whatever you want when you want to.</h2>
        <div class="ui huge primary button">Get Started <i
                class="right arrow icon"></i>
        </div>
    </div>
</div>
