{% macro term(iri) %}
    {% set metas = query('
        SELECT * WHERE {
            OPTIONAL {
                ?iri octa:title ?custom_label .
            }

            OPTIONAL {
                ?iri rdfs:label ?default_label .
            }

            BIND(COALESCE(?custom_label, ?default_label) AS ?label)

            OPTIONAL {
                ?iri a :Variable .
                ?iri :color ?color .
                BIND(true as ?is_variable)
            }

            OPTIONAL {
                ?iri octa:subjectOf / octa:url ?url .
            }

            OPTIONAL {
                ?iri rdfs:isDefinedBy / :prefix ?prefix .
            }
        }
    ', iri=iri) %}

    {% if metas %}
        {% set meta = metas|first %}
    {% else %}
        {% set meta = None %}
    {% endif %}

    {% if meta %}
        {% if meta.is_variable %}
            <span class="step {{ meta.color }}">?{{ meta.label }}</span>
        {% else %}
            {% if meta.url %}
                <a href="{{ meta.url }}"
                   class="step grey">{{ meta.prefix }}:{{ meta.label }}</a>
            {% else %}
                <span class="step">{{ meta.prefix }}:{{ meta.label }}</span>
            {% endif %}
        {% endif %}
    {% else %}
        <span class="step">?</span>
    {% endif %}
{% endmacro %}


{% macro list_triples(rule, relationship) %}
    {# FIXME awful boilerplate and repetition #}
    {% if relationship == "given" %}
        {% set statements = query('
                SELECT * WHERE {
                    ?rule :given ?statement .
                    ?statement
                        rdf:subject ?subject ;
                        rdf:predicate ?predicate ;
                        rdf:object ?object .
                }
            ',
            rule=rule
        ) %}
    {% else %}
        {% set statements = query('
                SELECT * WHERE {
                    ?rule :infer ?statement .
                    ?statement
                        rdf:subject ?subject ;
                        rdf:predicate ?predicate ;
                        rdf:object ?object .
                }
            ',
            rule=rule
        ) %}
    {% endif %}

    {% for item in statements %}
        <!--p class="ui labels">
            {{ term(item.subject) }} {{ term(item.predicate) }} {{ term(item.object) }}
        </p-->

        <div class="ui three steps">
            {{ term(item.subject) }} {{ term(item.predicate) }} {{ term(item.object) }}
        </div>
    {% endfor %}
{% endmacro %}


{% macro inference_rules(this) %}
    {% set rules = query('
        SELECT DISTINCT ?rule ?label WHERE {
            ?rule a :Rule .
            ?rule rdfs:label ?label .

            ?rule :given ?given .
            ?rule :infer ?infer .

            # TODO This boilerplate should be simplified.
            { ?infer rdf:subject ?this } UNION
            { ?infer rdf:predicate ?this } UNION
            { ?infer rdf:object ?this } UNION

            { ?given rdf:subject ?this } UNION
            { ?given rdf:predicate ?this } UNION
            { ?given rdf:object ?this }
        } ORDER BY ?rule
    ', this=this) %}

    {% if rules %}
        <h2 class="ui header">Inference Rules</h2>

        <style>
            .ui.steps .step.orange,
            .ui.steps .step.orange::after {
                background-color: #FFE6CC;
            }

            .ui.steps .step.grey,
            .ui.steps .step.grey::after {
                background-color: #F5F5F5;
            }

            .ui.steps .step.yellow,
            .ui.steps .step.yellow::after {
                background-color: #FFF2CC;
            }

            .ui.steps .step.red,
            .ui.steps .step.red::after {
                background-color: #F8CECC;
            }

            .ui.steps .step.purple,
            .ui.steps .step.purple::after {
                background-color: #E1D5E7;
            }

            .ui.steps .step.blue,
            .ui.steps .step.blue::after {
                background-color: #DAE8FC;
            }

            .ui.steps .step.green,
            .ui.steps .step.green::after {
                background-color: #D5E8D4;
            }
        </style>

        {% for rule in rules %}
            <h3 class="ui header">{{ rule.label }}</h3>
            <div class="ui segments">
                <div class="ui content segment">
                    <div class="ui two column very relaxed grid">
                        <div class="column">
                            {{ list_triples(rule.rule, "given") }}
                        </div>
                        <div class="column">
                            {{ list_triples(rule.rule, "infer") }}
                        </div>
                    </div>
                    <div class="ui vertical divider grey header">
                        ⇒
                    </div>
                </div>
                {#
                <!--div class="ui secondary segment align-right">
                    Links & Tags
                </div-->
                #}
            </div>
            <br/><br/>
        {% endfor %}
    {% endif %}
{% endmacro %}
