{%- macro link(iri) -%}
    {# Print clickable link to the given term. #}
    {% set link = queries.term.link(thing=iri).first %}
    {% if link %}
        <a href="{{ link.url }}">{{ link.symbol }}</a> {{ link.title }}
    {% endif %}
{%- endmacro -%}

{% macro table(rows, class=None) %}
    {% if rows %}
        <table{% if class %} class="{{ class }}"{% endif %}>
            <thead>
                <tr>
                    {% for column_name in rows.0 %}
                        <th>{{ column_name }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
            {% for row in rows %}
                <tr>
                    {% for cell in row.values() %}
                        <td>
                        {% set type_name = cell.__class__.__name__ %}

                        {% if type_name == "URIRef" %}
                            🔗 {{ cell }}
                        {% elif type_name == 'Literal' %}
                            🔤 {{ cell }}
                        {% elif type_name == 'BNode' %}
                            😶 {{ cell }}
                        {% else %}
                            {{ cell }}
                        {% endif %}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        There is no data here.
    {% endif %}
{% endmacro %}


{% macro term(iri) %}
    {% set metas = queries.macros.triple_element(iri=iri) %}

    {% if metas %}
        {% set meta = metas|first %}
    {% else %}
        {% set meta = None %}
    {% endif %}

    {% if meta %}
        {% if meta.is_variable %}
            <span class="step {{ meta.color }}">?{{ meta.label }}</span>
        {% else %}
            {% if meta.url %}
                <a href="{{ meta.url }}"
                   class="step grey">{{ meta.prefix }}:{{ meta.label }}</a>
            {% else %}
                <span class="step">{{ meta.prefix }}:{{ meta.label }}</span>
            {% endif %}
        {% endif %}
    {% else %}
        <span class="step">?</span>
    {% endif %}
{% endmacro %}



{% macro list_triples(rule, relationship) %}
    {% set statements = queries.macros.statements(
        rule=rule,
        relation=relationship
    ) %}

    {% for item in statements %}
        <div class="ui three steps">
            {{ term(item.subject) }} {{ term(item.predicate) }} {{ term(item.object) }}
        </div>
    {% endfor %}
{% endmacro %}
