{% extends "base.html" %}

{% import "inference.html" as inference with context %}

{% set headers = query(
    'SELECT ?label WHERE {
        ?entity octa:subjectOf ?iri .

        GRAPH <local:rdfs/rdfs.ttl> {
            ?entity rdfs:label ?label .
        }
    }',
    iri=iri
) %}

{% set summaries = query('
    SELECT ?summary WHERE {
        ?term octa:subjectOf ?iri .

        GRAPH ?iri {
            OPTIONAL {
                ?term rdfs:comment ?readable_summary .
            }
        }

        GRAPH <local:rdfs/rdfs.ttl> {
            ?term rdfs:comment ?default_summary .
        }

        BIND(COALESCE(?readable_summary, ?default_summary) AS ?summary)
    }
', iri=iri) %}

{% set symbols = query('
    SELECT * WHERE {
        ?this <local:symbol> ?symbol .
    }
', this=this) %}


{% set superclasses = query('
    SELECT ?link ?label ?link WHERE {
        ?term octa:subjectOf ?iri .
        ?term rdfs:subClassOf ?superclass .
        ?superclass octa:subjectOf/octa:url ?link .
        ?superclass rdfs:label ?label .
        FILTER(?superclass != ?term)
    }
', iri=iri) %}


{% set classes = query('
    SELECT ?link ?label WHERE {
        ?term octa:subjectOf ?iri .

        GRAPH <local:rdfs/rdfs.ttl> {
            ?term a ?class .
        }

        ?class rdfs:label ?label .

        OPTIONAL {
            ?class octa:subjectOf/octa:url ?link .
        }
    }
', iri=iri) %}

{% set related_objects_query = '
    SELECT ?link ?label WHERE {
        ?term octa:subjectOf ?iri .

        GRAPH <local:rdfs/rdfs.ttl> {
            ?term ?relation ?related_object .
        }

        ?related_object rdfs:label ?label .

        OPTIONAL {
            ?related_object octa:subjectOf ?page .
            ?page a octa:Page .
            ?page octa:url ?link .
        }
    }
' %}

{% set ranges = query(related_objects_query, iri=iri, relation=rdfs.range) %}
{% set domains = query(related_objects_query, iri=iri, relation=rdfs.domain) %}

{% set is_property = query('ASK {
    ?term octa:subjectOf ?page .
    ?term rdf:type rdf:Property
}', page=iri) %}

{% block content %}
    {% if headers %}
    <h1 class="ui header">
        {% if symbols %}
            {{ symbols.0.symbol }}
        {% endif %}
        {{ headers.0.label }}
        {% if summaries %}
            <div class="sub header">
                {{ summaries.0.summary }}
            </div>
        {% endif %}
    </h1>
    {% else %}
    # Page title is not available 😟
    {% endif %}

    <div class="ui relaxed horizontal list">
    {% if classes %}
        <div class="item">
            <div class="content">
                <div class="header">Instance of:</div>
                {% for class in classes %}
                    {% if class.link %}
                        <a href="{{ class.link }}">{{ class.label }}</a>{% filter trim %}
                        {% if not loop.last %}, {% endif %}
                        {% endfilter %}
                    {% else %}
                        <strong>{{ class.label }}</strong>{% filter trim %}
                        {% if not loop.last %}, {% endif %}
                        {% endfilter %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if superclasses %}
        <div class="item">
            <div class="content">
                <div class="header">Subclass of:</div>
                {% for superclass in superclasses %}
                    {% if superclass.link %}
                        <a href="{{ superclass.link }}">{{ superclass.label }}</a>{% filter trim %}
                        {% if not loop.last %}, {% endif %}
                        {% endfilter %}
                    {% else %}
                        <strong>{{ superclass.label }}</strong>{% filter trim %}
                        {% if not loop.last %}, {% endif %}
                        {% endfilter %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}

    {% if is_property %}
        <div class="item">
            <div class="content">
                <div class="header">Property:</div>
                {% for domain in domains %}
                    {% if domain.link %}
                        <a href="{{ domain.link }}">{{ domain.label }}</a>
                    {% else %}
                        <strong>{{ domain.label }}</strong>
                    {% endif %}
                    {% if loop.revindex == 2 %} or {% elif not loop.last %}, {% endif %}
                {% endfor %}

                →

                {% for range in ranges %}
                    {% if range.link %}
                        <a href="{{ range.link }}">{{ range.label }}</a>
                    {% else %}
                        <strong>{{ range.label }}</strong>
                    {% endif %}
                    {% if loop.revindex == 2 %} or {% elif not loop.last %}, {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
    </div>

    <div class="ui horizontal divider"></div>

    {{ super() }}

    {{ inference.inference_rules(this) }}

{% endblock %}
