{% extends "base.html" %}

{% import "inference.html" as inference with context %}
{% import "patterns.html" as patterns with context %}
{% import "macros.html" as macros with context %}
{% import "property.html" as property with context %}

{% set header = queries.term.header(this=this).first %}
{% set is_property = queries.term.is_property(this=this) %}

{% macro meta(relation) %}
    {% set related_objects = queries.term.meta(this=this, relation=relation) %}

    {% if related_objects %}
        <div class="item">
            <div class="content">
                <div class="header">{{ macros.link(relation) }}</div>
                {% for object in related_objects %}
                    <a href="{{ object.link }}">{{ object.label }}</a>{% filter trim %}
                    {% if not loop.last %}, {% endif %}
                    {% endfilter %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro see_also(this) %}
    {% set related_objects = queries.term.see_also(this=this) %}

    {% if related_objects %}
        <div class="item">
            <div class="content">
                <div class="header">{{ macros.link(rdfs.seeAlso) }}</div>
                {% for object in related_objects %}
                    <a href="{{ object.link }}">{{ object.label }}</a>{% filter trim %}
                    {% if not loop.last %}, {% endif %}
                    {% endfilter %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endmacro %}

{% macro domains_or_ranges(this, relation) %}
    {% for class in queries.term.domain_and_range(this=this, relation=relation) %}
        <a href="{{ class.link }}">{{ class.label }}</a>
        {% if loop.revindex == 2 %} or {% elif not loop.last %}, {% endif %}
    {% endfor %}
{% endmacro %}

{% block content %}
    <div class="ui clearing segment">
        <h1 class="ui header">
            <a href="{{ header.vocabulary_url }}">{{ header.prefix }}:</a>{% filter trim %}
            {% endfilter %}{{ header.label }}

            <div class="sub header">
                {{ header.summary }}
            </div>
        </h1>

        <div class="ui huge left floated header" style="font-size: 4em">
            {{ header.symbol }}
        </div>

        <div class="ui relaxed horizontal list">
            {{ meta(rdf.type) }}
            {{ meta(rdfs.subClassOf) }}

            {% if is_property %}
                <div class="item">
                    <div class="content">
                        <div class="header">Property:</div>
                        {{ domains_or_ranges(this, rdfs.domain) }}
                        →
                        {{ domains_or_ranges(this, rdfs.range) }}
                    </div>
                </div>

                {{ meta(rdfs.subPropertyOf) }}
            {% endif %}

            {{ see_also(this) }}
        </div>
    </div>

    {% if is_property %}
        {{ property.property(this) }}
    {% endif %}

    <div class="ui horizontal divider"></div>

    {{ super() }}

    <br/><br/>

    {{ inference.inference_rules(this) }}
    {{ patterns.patterns(this) }}

{% endblock %}
