{% extends "base.html" %}

{% import "inference.html" as inference with context %}
{% import "patterns.html" as patterns with context %}
{% import "macros.html" as macros with context %}
{% import "property.html" as property with context %}

{% set is_property = queries.term.is_property(this=this) %}

{% macro see_also(this) %}
    {% set related_objects = queries.term.see_also(this=this) %}

    {% if related_objects %}
        <div class="ui header">{{ macros.link(rdfs.seeAlso) }}</div>

        <div class="ui vertical menu" style="width: 100%">
            {% for object in related_objects %}
                <a class="item" href="{{ object.link }}">{{ object.label }}</a>
            {% endfor %}
        </div>
    {% endif %}
{% endmacro %}

{% block navbar %}
    {% include "includes/navbar-term.html" with context %}
{% endblock %}

{% block content %}
    <div style="position: relative">
        <div class="ui right rail">
            {{ macros.meta(rdf.type) }}

            {% if is_property %}
                {{ property.property(this) }}
            {% endif %}

            {{ macros.meta(rdfs.subClassOf) }}
            {{ see_also(this) }}
        </div>

        {{ super() }}

        <br/><br/>

        {{ inference.inference_rules(this) }}
        {{ patterns.patterns(this) }}

        <div class="clearfix"></div>
        <div style="clear: both"></div>
    </div>
{% endblock %}
