{% extends "base.html" %}

{% set header = queries.vocabulary.header(this=this).first %}
{% set categories = queries.vocabulary.categories(vocabulary=this) %}

{% macro cards_for_category(category) %}
    {% set cards_per_category = queries.vocabulary.cards_per_category(category=category) %}

    {% set card_count = {
        1: "one",
        2: "two",
        3: "three",
        4: "four",
    }[cards_per_category.__len__()] or "four" %}

    <div class="ui {{ card_count }} cards">
        {% for card in cards_per_category %}
            <a class="ui tangible raised card" href="{{ card.url|default('#') }}">
                <div class="ui content">
                    <div class="header center aligned">
                        {{ card.label }}
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>
{% endmacro %}

{% block content %}
    <style>
        .ui.tangible.card,
        a.ui.card:hover,
        .ui.link.card:hover,
        .ui.cards a.card:hover,
        .ui.link.cards .card:hover {
            background: url(/rdfs/backgrounds/classy_fabric/classy_fabric/classy_fabric.png);
        }

        .ui.tangible.card .content .header {
            color: white;
        }

        a.ui.tangible.card {
            padding-bottom: 36px;
            padding-top: 36px;
        }
    </style>

    <h1 class="ui header">
        {{ header.label }}
        <div class="sub header">{{ header.comment }}</div>
    </h1>

    <div class="ui container">
        <div class="ui large fluid action labeled input">
          <div class="ui label">
            {{ header.prefix }}:
          </div>
          <input readonly type="text" placeholder="" value="{{ this }}">
          <a class="ui green button" href="{{ this }}">
            <i class="external alternate icon"></i>
          </a>
        </div>
    </div>

    <div class="ui hidden divider"></div>

    {{ super() }}

    <div class="ui hidden divider"></div>

    <div class="ui grid">
        {% for category in categories %}
        <div class="{{ category.column_width }} wide column">
            <h2>{{ category.label }}</h2>
            {{ cards_for_category(category.iri) }}
        </div>
        {% endfor %}
    </div>
{% endblock %}
